// Bootstrap
@import "variables";

html, body, #dashboard {
  height: 100%;
  background-color: rgb(211, 211, 211);
}

body {
  margin: 0;
}

h3 {
  color: white;
  font-family: "Roboto", sans-serif;
  padding-top: 4vh;
}

.avatar {
  width: 30px;
  float: right;
  border-radius: 2px;
}

.btn {
  &.btn-default {
    color: $purple-110
  }
}

.creds {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
}

.list-group-item {
  color: $purple-100;
}


.sign-out {
  float: right;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 12px;
}

.user-info {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: $gray-400;
}
